.App {
  background-color: #000000;
  height: 100%;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Inter", Helvetica, sans-serif;
}

@media screen and (max-width: 767px) {
  .App {
    /* max-width: 320px; */
  }
}
