.avatar-popup__exit {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/icons/CloseIcon.svg);
  border: none;
  background-color: transparent;
  padding: 0;
}

.avatar-popup__exit:hover {
  opacity: 0.6;

}

@media screen and (max-width: 767px) {
  .avatar-popup__exit {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}