.bad-popup__container {
  text-align: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  padding: 60px 36px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .bad-popup__container {
    padding: 25px 22px 25px;
  }
}