.edit-popup__save-button {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  margin-top: 21px;
}

.edit-popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .edit-popup__save-button {
    width: 238px;
    margin-top: 15px;
  }
}