.profile__edit {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  align-self: end;
  border: none;
  background-image: url(../../../images/icons/EditButton.svg);
  background-color: transparent;
  height: 24px;
  width: 24px;
  position: relative;
  bottom: 3px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__edit {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: end;
    align-self: center;
    max-width: 18px;
    min-height: 18px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}