.bad-popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 32px 0 0;
  text-align:center;
  color: #000000;
  min-height: 58px;
  min-width: 358px;
  }

  @media screen and (max-width: 767px) {
    .infoTooltip-popup__title {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 50px;

    }
  }