@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__wrapper/page__wrapper.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__userInfo/header__userInfo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__wrapper/profile__wrapper.css);
@import url(./blocks/profile/__avatar/profile__avatar-image.css);
@import url(./blocks/profile/__avatar/profile__avatar-edit-image.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/gallery/__items/gallery__items.css);
@import url(./blocks/item/item.css);
@import url(./blocks/item/__image/item__image.css);
@import url(./blocks/item/__description/item__description.css);
@import url(./blocks/item/__text/item__text.css);
@import url(./blocks/item/__like/item__like.css);
@import url(./blocks/item/__like/item__like_active.css);
@import url(./blocks/item/__like/item__number.css);
@import url(./blocks/item/__delete/item__delete.css);
@import url(./blocks/item/__delete/item__delete_hidden.css);
@import url(./blocks/item/__delete/item__delete_visible.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/edit-popup/edit-popup.css);
@import url(./blocks/edit-popup/__containter/edit-popup__container.css);
@import url(./blocks/edit-popup/__exit/edit-popup__exit.css);
@import url(./blocks/edit-popup/__title/edit-popup__title.css);
@import url(./blocks/edit-popup/__form/edit-popup__form.css);
@import url(./blocks/edit-popup/__save-button/edit-popup__save-button.css);
@import url(./blocks/image-popup/image-popup.css);
@import url(./blocks/image-popup/__exit/image-popup__exit.css);
@import url(./blocks/image-popup/__container/image-popup__container.css);
@import url(./blocks/image-popup/__pic/image-popup__pic.css);
@import url(./blocks/image-popup/__title/image-popup__title.css);
@import url(./blocks/adding-popup/adding-popup.css);
@import url(./blocks/adding-popup/__containter/adding-popup__container.css);
@import url(./blocks/adding-popup/__exit/adding-popup__exit.css);
@import url(./blocks/adding-popup/__title/adding-popup__title.css);
@import url(./blocks/adding-popup/__form/adding-popup__form.css);
@import url(./blocks/adding-popup/__save-button/adding-popup__save-button.css);
@import url(./blocks/delete-popup/delete-popup.css);
@import url(./blocks/delete-popup/__containter/delete-popup__container.css);
@import url(./blocks/delete-popup/__exit/delete-popup__exit.css);
@import url(./blocks/delete-popup/__title/delete-popup__title.css);
@import url(./blocks/delete-popup/__save-button/delete-popup__save-button.css);

@import url(./blocks/avatar-popup/avatar-popup.css);
@import url(./blocks/avatar-popup/__containter/avatar-popup__container.css);
@import url(./blocks/avatar-popup/__exit/avatar-popup__exit.css);
@import url(./blocks/avatar-popup/__title/avatar-popup__title.css);
@import url(./blocks/avatar-popup/__form/avatar-popup__form.css);
@import url(./blocks/avatar-popup/__save-button/avatar-popup__save-button.css);

@import url(./blocks/infoTooltip-popup/infoTooltip-popup.css);
@import url(./blocks/infoTooltip-popup/__container/infoTooltip-popup__container.css);
@import url(./blocks/infoTooltip-popup/__exit/infoTooltip-popup__exit.css);
@import url(./blocks/infoTooltip-popup/__title/infoTooltip-popup__title.css);
@import url(./blocks/infoTooltip-popup/__image/infoTooltip-popup__image.css);

@import url(./blocks/bad-popup/bad-popup.css);
@import url(./blocks/bad-popup/__container/bad-popup__container.css);
@import url(./blocks/bad-popup/__exit/bad-popup__exit.css);
@import url(./blocks/bad-popup/__title/bad-popup__title.css);
@import url(./blocks/bad-popup/__image/bad-popup__image.css);


@import url(./blocks/popup/__inputs/popup__inputs.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__button/_disables/popup__button_disabled.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/popup__error_visible.css);
@import url(./blocks/reg/reg.css);
@import url(./blocks/reg/__title/reg__title.css);
@import url(./blocks/reg/__form/reg__form.css);
@import url(./blocks/reg/__input/reg__input.css);
@import url(./blocks/reg/__button/reg__button.css);
@import url(./blocks/reg/__sing-in/reg__sing-in.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__button/login__button.css);
